In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00471/Data_for_UCI_named.csv')

In [3]:
data.head()

       tau1      tau2      tau3  ...        g4      stab     stabf
0  2.959060  3.079885  8.381025  ...  0.958034  0.055347  unstable
1  9.304097  4.902524  3.047541  ...  0.781760 -0.005957    stable
2  8.971707  8.848428  3.046479  ...  0.109853  0.003471  unstable
3  0.716415  7.669600  4.486641  ...  0.362718  0.028871  unstable
4  3.134112  7.608772  4.943759  ...  0.820923  0.049860  unstable

[5 rows x 14 columns]

In [4]:
data.isna().sum()

tau1     0
tau2     0
tau3     0
tau4     0
p1       0
p2       0
p3       0
p4       0
g1       0
g2       0
g3       0
g4       0
stab     0
stabf    0
dtype: int64

In [5]:
data = data.drop(columns='stab')
data.head()

       tau1      tau2      tau3  ...        g3        g4     stabf
0  2.959060  3.079885  8.381025  ...  0.887445  0.958034  unstable
1  9.304097  4.902524  3.047541  ...  0.562139  0.781760    stable
2  8.971707  8.848428  3.046479  ...  0.839444  0.109853  unstable
3  0.716415  7.669600  4.486641  ...  0.929381  0.362718  unstable
4  3.134112  7.608772  4.943759  ...  0.656947  0.820923  unstable

[5 rows x 13 columns]

In [6]:
from sklearn.model_selection import train_test_split

X = data.drop(columns='stabf')
y= data['stabf']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)
print(X_train.shape, y_train.shape)

(8000, 12) (8000,)

In [7]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_X_train = pd.DataFrame(scaler.fit_transform(X_train), columns=X_train.columns)
scaled_X_test = pd.DataFrame(scaler.transform(X_test), columns=X_test.columns)
scaled_X_test.head()

       tau1      tau2      tau3  ...        g2        g3        g4
0  0.593951 -0.412733  1.503924  ...  1.167203 -1.507330  1.084726
1  0.202190  0.374416 -0.188800  ... -0.395660  1.414651  1.226011
2 -1.079044 -0.313745 -0.884634  ... -1.438495  0.651821 -1.682168
3 -0.083120 -1.107327  0.372805  ... -1.672322 -0.357714  1.055865
4  0.873921  1.438466  0.086662  ... -1.469731  0.956396 -0.819727

[5 rows x 12 columns]

In [29]:
n_estimators = [50, 100, 300, 500, 1000]

min_samples_split = [2, 3, 5, 7, 9]

min_samples_leaf = [1, 2, 4, 6, 8]

max_features = ['auto', 'sqrt', 'log2', None] 

hyperparameter_grid = {'n_estimators': n_estimators,

                       'min_samples_leaf': min_samples_leaf,

                       'min_samples_split': min_samples_split,

                       'max_features': max_features}

In [41]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from xgboost import  XGBClassifier
from lightgbm import LGBMClassifier
from sklearn.model_selection import RandomizedSearchCV

rfc = RandomForestClassifier(random_state = 1)
xtra = ExtraTreesClassifier(random_state=1)
xgbm = XGBClassifier(random_state=1)
lgm = LGBMClassifier(random_state= 1)
rSCV = RandomizedSearchCV(ExtraTreesClassifier(random_state=1),hyperparameter_grid,random_state=1, verbose = 1, n_jobs = -1)

rfc.fit(X_train, y_train)
xtra.fit(X_train, y_train)
xgbm.fit(X_train, y_train)
lgm.fit(X_train, y_train)
rSCV.fit(X_train, y_train)

rfc_predict = rfc.predict(X_test)
xtra_pred = xtra.predict(X_test)
xgbm_pred = xgbm.predict(X_test)
lgn_pred  = lgm.predict(X_test)
rSCV_pred = rSCV.predict(X_test)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  46 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done  50 out of  50 | elapsed:  1.5min finished

In [38]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

In [59]:

for pred in [rfc_predict, xtra_pred,xgbm_pred, lgn_pred, rSCV_pred]:
  print('accuracy score is {}'.format( round(accuracy_score(y_test, pred), 4)), '\n')

accuracy score is 0.929

accuracy score is 0.928

accuracy score is 0.9195

accuracy score is 0.9375

accuracy score is 0.927

In [37]:
rSCV.best_params_

{'max_features': None,
 'min_samples_leaf': 8,
 'min_samples_split': 2,
 'n_estimators': 1000}

In [60]:
xtra2 = ExtraTreesClassifier(n_estimators= 1000, min_samples_leaf= 8, min_samples_split= 2,max_features=None, random_state=1 )
xtra2.fit(X_train, y_train)
xtra2_pred = xtra.predict(X_test)
round(accuracy_score(y_test, xtra2_pred), 4)

0.928

In [61]:
xtra2.feature_importances_

array([0.13723979, 0.14050787, 0.1346805 , 0.13541662, 0.00368361,
       0.0053368 , 0.00542927, 0.0049625 , 0.10256224, 0.1075776 ,
       0.11306257, 0.10954062])

In [53]:
tp = 355
tn= 120
fp = 1480
fn = 45

In [55]:
precision1 = tp/(tp + fp)
recall1 = tp/(tp+fn)
f1= (precision1 * recall1)/(precision1 + recall1)
2* f1

0.3176733780760626